<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container" novalidate>

  <div class="form-control">
    <label for="rows">Rows (1 - 1000)</label>
    <input type="number" id="rows" formControlName="rows" />
    <div class="warning" *ngIf="isTouchedAndInvalid('rows')">
      <ng-container *ngFor="let errorKey of getErrorKeys('rows')">
        <span>{{ getErrorMessage('rows', errorKey) }}</span>
      </ng-container>
    </div>
  </div>

  <div class="form-control">
    <label for="cols">Columns (1 - 702)</label>
    <input type="number" id="cols" formControlName="cols" />
    <div class="warning" *ngIf="isTouchedAndInvalid('cols')">
      <ng-container *ngFor="let errorKey of getErrorKeys('cols')">
        <span>{{ getErrorMessage('cols', errorKey) }}</span>
      </ng-container>
    </div>
  </div>

  <div class="form-control">
    <label for="color">Color</label>
    <select id="color" formControlName="color">
      <option value="" disabled selected hidden>Select a color</option>
      <option *ngFor="let c of colors" [value]="c">{{ c | titlecase }}</option>
    </select>
    <div class="warning" *ngIf="isTouchedAndInvalid('color')">
      <ng-container *ngFor="let errorKey of getErrorKeys('color')">
        <span>{{ getErrorMessage('color', errorKey) }}</span>
      </ng-container>
    </div>
  </div>

  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
