@use 'styles' as *;

$selection-cell-color: $accent;

.color-selection {
  background: rgba(black, 0.85);
  margin: 2rem 0;
  border-radius: 2rem;
  padding: 1rem 1.5rem 2rem;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  color: white;
}

td {
  padding: 10px;
  vertical-align: middle;

  &.left {
    background: rgba($selection-cell-color, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &.right {
    background: rgba($selection-cell-color, 0.85);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darken($primary, 5%);
  }
}

h2{
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black;

  &.print-title {
    display: none;
  }
}

h3{
  vertical-align: middle;
  padding-bottom: 10px;
  text-align: center;
  color:whitesmoke;
  text-shadow: 1px 1px 5px black;
}

.color-control {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
}

.radio-wrap {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  input[type="radio"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .custom-radio {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: 0.2s ease;
  }

  input[type="radio"]:checked + .custom-radio {
    background: white;
    box-shadow: 0 0 0 3px #032B2B;
  }
}

.color-select {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: rgba(black, 0.77);
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  outline: none;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(black, 0.85);
  }
}

.app-color-selection-intro.print-mode {
  h2, h3 {
    display: none;
  }

  .print-title {
    display: block;
    color: black;
    text-shadow: none;
  }
}

.color-selection-table.print-mode {
  td {
    border: solid 1px black;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    pointer-events: none;
    user-select: none;
    outline: none;
    font-size: 1.4rem;
  }

  input {
    display: none;
  }
}
