.color-painting-intro {
  h2{
    vertical-align: middle;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 5px black;
  }

  h3{
    vertical-align: middle;
    padding-bottom: 10px;
    text-align: center;
    color:whitesmoke;
    text-shadow: 1px 1px 5px black;
  }

  &.print-mode {
    h2 {
      background: transparent;
      color: black;
      text-shadow: none;
    }

    h3 {
      display: none;
    }
  }
}

.container.painting-grid {
    width: auto;
    margin: 0 auto;
    height: 100%;
    max-height: 80vh;
    overflow: scroll;
    color: black;

    &.print-mode {
      .gridCell {
        border: 1px solid black;
      }

      .gridName {
        color: black;
      }
    }
}

.gridName {
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: white;
}

.gridCell {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid lightgray;
    background-color: white;
}

.gridTable {
    border-spacing: 0;
}

.gridTable tr, td {
    width: 30px;
    height: 30px;
    padding: 0;
}
