// color palette
$primary: #0b2a4a;
$secondary: #d8ecff;
$accent: #ffb400;
$muted: #7a8a99;
$success: #3b945e;
$warning: #d9822b;
$error: #c23030;
$bg-off-white: #f4f4f4;


body {
  margin: 0;
}

section {
  margin: 80px auto 0;
  width: 100vw;
  padding: 0 2.5vh;
  min-height: 100vh;
  background-color: $muted;
  position: absolute;
  top: 0;
}
